/** Auteurs: DIEUDONNE Loïc, GAUVIN Thomas */
/**Feuille css qui colorise les input des formulaires en rouge si ils sont faux et vert si ils sont juste */

/* Input Validation */
 
	input[type]:valid 
	{
	   color: green;
	}
	
	input[type]:invalid 
	{
	    color: red;
	}
	
	input[type="submit"]:valid
	{
	    color: black;
	}
	